.form-container {
    margin: auto; /* Center the wrapper horizontally */
    padding: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

#contact-form {
    background-color: white;
    margin: 20px auto;
    width: 90%;
}

.form-input {
    font-weight: bold;
    margin-bottom: 20px;
}

.input-title {
    color: #1c2e4a;
}

.form-input input,
.form-input textarea {
    width: calc(100% - 22px); /* Adjust the width to span the container minus padding and border */
    padding: 10px;
    border: 1px solid #333;
    border-radius: 8px;
}

.asterisk {
    color: red;
}

.form-button-and-icons {
    display: flex;
    justify-content: space-between;
}

#send-button {
    background-color: white; 
    border: 2px solid #2b1d60;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* While clicked, the send button moves down a bit, creating animation */
#send-button:active {
    transform: translateY(5px);
}

.paper-plane-icon {
    color: #2b1d60;
    height: auto;
    width: 65%; 
}

.paper-plane-icon:hover {
    width: 75%;
}

/* Keep the icons on the same line */
.icons-container {
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 0;
    margin-right: 20px;
}

.contact-icon {
    color: white;
    font-size: 0.65em; /* Increase the original size by 2.5x */
    cursor: pointer;
    margin: 0;
    padding: 0;
}

.contact-icon-circle {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px; 
    height: 50px; 
    border-radius: 50%;
    background-color: #2b1d60; 
    margin-right: 15px; 
}

/* Media query for smaller screen sizes */
@media (max-width: 555px) {
    #send-button {
        width: 50px;
        height: 50px; 
    }

    .contact-icon-circle {
        width: 35px; 
        height: 35px; 
        margin: 0 0 0 10px !important;
    }
    
    .contact-icon {
        font-size: 0.45em;
    }

    .paper-plane-icon {
        width: 20px;
        height: 20px;  
    }
    
    .paper-plane-icon:hover {
        width: 30px;
        height: 30px; 
    }
}

@media (max-width: 450px) {
    #send-button {
        width: 45px;
        height: 45px; 
    }

    .contact-icon-circle {
        width: 35px; 
        height: 35px; 
        margin: 0 0 0 10px !important;
    }
    
    .contact-icon {
        font-size: 0.45em;
    }

    .paper-plane-icon {
        width: 20px;
        height: 20px;  
    }
    
    .paper-plane-icon:hover {
        width: 30px;
        height: 30px; 
    }
}

@media (max-width: 420px) {
    #send-button {
        width: 40px;
        height: 40px; 
    }

    .contact-icon-circle {
        width: 35px; 
        height: 35px; 
        margin: 0 0 0 10px !important;
    }
    
    .contact-icon {
        font-size: 0.40em;
    }

    .paper-plane-icon {
        width: 15px;
        height: 15px;  
    }
    
    .paper-plane-icon:hover {
        width: 25px;
        height: 25px; 
    }
}

@media (max-width: 400px) {
    #send-button {
        width: 40px;
        height: 40px; 
    }

    .contact-icon-circle {
        width: 30px; 
        height: 30px; 
        margin: 0 0 0 7px !important;
    }
    
    .contact-icon {
        font-size: 0.35em;
    }

    .paper-plane-icon {
        width: 15px;
        height: 15px;  
    }
    
    .paper-plane-icon:hover {
        width: 25px;
        height: 25px; 
    }
}

@media (max-width: 375px) {
    #send-button {
        width: 40px;
        height: 40px; 
    }

    .contact-icon-circle {
        width: 25px; 
        height: 25px; 
        margin: 0 0 0 5px !important;
    }
    
    .contact-icon {
        font-size: 0.3em;
    }

    .paper-plane-icon {
        width: 15px;
        height: 15px;  
    }
    
    .paper-plane-icon:hover {
        width: 25px;
        height: 25px; 
    }
}

