@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru&display=swap');

.contact-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#connect-with-me-wrapper {
    padding: 20px;
    padding-bottom: 60px;
    max-width: 40%;
}

.bold-text {
    font-family: 'Kiwi Maru', serif;
    font-weight: bold;
    color: #3A2C30;
    text-shadow: 2px 2px grey;
}

#img-github {
    position: absolute;
    right: 10px;
    width: 50px;
    height: 50px;
    border: solid 1px;
    border-radius: 50px;
    border-color: grey;
    margin: 20px;
}

#img-linkedin {
    position: absolute;
    left: 10px;
    width: 50px;
    height: 50px;
    border: solid 1px;
    border-radius: 50px;
    border-color: grey;
    margin: 20px;
}

.hr {
    border: solid 1px;
    margin: 50px;
    margin-top: 80px;
    margin-bottom: 30px;
}

#contact-form-section {
    min-width: 40%;
    padding: 40px;
    padding-bottom: 100px;
}

#keep-in-touch {
    margin-bottom: 30px;
}

input, textarea {
    position: relative;
    display: block;
    margin: 10px;
    border-color: lightgray;
    border-radius: 7px;
    padding: 5px;
    width: 100%;
}

#send-button {
    border-color: #3A2C30;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #3A2C30;
    color: white;
}

@media (max-width: 420px) {

    #connect-with-me-wrapper {
        padding-top: 0px !important;
        padding-bottom: 100px;
        min-width: 95%;
    }

    #contact-form-section {
        min-width: 80% !important;
        padding: 0px;
        padding-bottom: 30px;
    }

    #keep-in-touch {
        margin-bottom: 5px;
    }

    #img-github, 
    #img-linkedin {
        margin: 10px;
        width: 35px;
        height: 35px;
    }

    .bold-text {
        font-size: 1.2em;
    }

    .hr {
        border: solid 1px;
        margin: 20px;
        margin-top: 35px;
        margin-bottom: 10px;
    }
}
