footer {
    background-color: #DDDDDD;
    text-align: center;
}

#extra-info {
    background-color: #DDDDDD;
    border-bottom: 2px solid #CCCC;
    margin-bottom: 20px;
}

#built-with {
    font-size: large;
    margin-bottom: 20px;
    padding-top: 20px;
}

.icons-container {
    display: flex;
    justify-content: center;
}

.icon {
    width: 30px; 
    margin: 0 10px;
}

#made-by {
    margin: 0;
    padding-bottom: 20px;
}